




            /* ____________________  ELEMENT PRINCIPAUX  ____________________ */


html, body {   
    margin: 0%;
    min-width: 1000px;           /* Taille minimum de l'écran*/
}
            
body{
    display: flex;
    flex-flow: column;      
}
            
/* Map */
#map{
    position: absolute;
    height:100%;
    width:100%; 
    z-index: 0;
}  
            
                    



                    
            /* ____________________ LEGENDE ____________________ */

/* Menu de navigation*/
nav {
    display: flex;
    position: relative;
    height: 100%;						/*hauteur*/
    width: 378px;
    z-index: 3;                     /* Position par rapport la carte */
    flex-direction: column;
    background-color:  rgba(20, 25, 29, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Ombre */
    border-radius: 0px 0px 5px 0px ;      /* Arrondie des bordures*/
}

/*Titre principal*/
h1 {
    background-color:  rgba(20, 25, 29, 0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.2); /* Ombre */
    color: white;
    font-family: -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0px 0px -10px;     
    text-transform: uppercase;
    text-align: center;
    padding: 10px, 0px, 10px, 0px;
}


/* Style legende*/
ul {
    display: flex;
    flex-direction: column; 
    list-style-type: none;
}

/* Style pour les blockaxes*/ 
label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    align-items: center; 
    margin: 10px 0px 10px -20px;
    padding: 5px 0px 5px 8px;
    background-color:  rgba(84, 89, 94, 0.4);
    border-radius: 5px 0px 0px 5px ; 
    box-shadow:  0 0 10px rgba(0,0,0,0.2); /* Ombre */
    cursor: pointer;  
}

/* Style picto legende*/
.pictoLegende {     
    height: 70px;
    width: 50px;
}

/* Texte legende*/
h2 {        
    color: white ; 
    font-family: -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    margin: 0px 10px 0px 25px ;
    flex-wrap: wrap;
} 
            
/*Logo*/ 
.logo {
    display: flex;
    flex-direction: row; 
    justify-content: left;
    align-items: top;
    margin: 10px 0px 0px -10px;
} 
.logoDep {
    width: 65px;
    height: 65px;
} 
.logoCnsa {
    width: 50px;
    height: 50px;
    margin-left: 10px;
} 

/*Texte partenaires*/
h5 {
    color: white;
    font-family: -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 5px 0px 0px -10px; 
    text-align: left;
    padding: 10px, 0px, 10px, 0px;
} 

span{
    font-weight: bold;
}              



                    

            /* ____________________ STYLE RADIO BUTTON ____________________ */

    /* STRCUTURE DES RADIO BUTTON */
/* Permet de faire disparaître la coche par défaut */
[type = "radio"]:not(:checked),              /* Si le style n'est pas reconnu par le navigateur, on a l'ancien style */
[type = "radio"]:checked{
    position: absolute;
    left: -99999px;
}


    /* INTERACTIVITE DE LA RADIO */

/* Etat de la checkbox si coché 
On rend visible le style de after avec une petite transition*/
[type = "radio"]:not(:checked),              /* Si le style n'est pas reconnu par le navigateur, on a l'ancien style */
[type = "radio"]:checked ~ label {           /* Change la couleur de label */
    background-color:  rgba(167, 174, 182, 0.4);
    transition: 0.3s;   
}


    /* SURVOL DE LA SOURIS */
label:hover{
    background-color: rgba(167, 174, 182, 0.4);
    transition: 0.4s;
}


 



 

                    
            /* ____________________ POPUP ____________________ */


/* Style Block des popup*/
#popup {
    display: block;
    position: absolute;
    right: 0;
    width: 290px;
    height: auto;    
    z-index: 3;
    font-family: -apple-system, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ; 
    color:   rgba(20, 25, 29, 0.8);
    background-color:  rgba(238, 240, 241, 0.8);
    border-radius: 5px 0px 0px 5px ; 
    box-shadow:  0 0 10px rgba(0,0,0,0.2); /* Ombre */
    font-size: 16px;
    padding: 0px 0px 20px 0px;
}

.titrePopup{
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;   
    text-transform: uppercase;
    margin: 35px 5px 15px 12px;
    background-color:  rgba(238, 240, 241, 0.2);
    border-radius: 5px 5px 5px 5px ; 
    box-shadow:  0 0 10px rgba(0,0,0,0.2); /* Ombre */
    padding: 2px 5px 2px 5px;
}

.titrePopup > h3{
    text-align: center;
    margin-left: 10px;    
}

.infoPopup{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px 0px 20px;
}

.infoPopup > h4{
   margin: 5px 0px 0px 0px;
   font-style: oblique;
   font-weight: bold;
   
}

.infoPopup > span{
    margin: 5px 0px 0px 15px;
    font-weight: normal;
}

#pictoFermeture{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 8px;   
}